<h1>New Profile</h1>

<% if flash[:errors] %>
  <p><%=flash[:errors]['errors'].join(', ') %></p>
<% end %>

<div id="prof">
<%= form_for :profile, url: '/profiles/new' do |f| %>
  <span>Username: <%= f.text_field :username %></span><br>
  <span>Suburb: <%= f.text_field :suburb %></span><br>
  <span>Postcode: <%= f.number_field :postcode %></span><br>
  <span>Search Radius: <%= f.number_field :search_radius %></span><br>
  <span>Sex: <%= f.select :sex, "<option>M</option><option>F</option>" .html_safe %></span><br>
  <span>Age: <%= f.number_field :age %></span><br>
  <span>Interests: <%= f.select :interests, "<option>Cycling</option><option>Sewing</option><option>Reading</option><option>Programming</option>" .html_safe %></span><br>
  <%= f.submit("My Profile") %></span><br>

<%= link_to 'Back', profiles_path %>
<% end %>
</div>
