<h3>Search Page</h3>

<span><strong>Suburb: </strong><%= current_user.profile.suburb %></span><br>
<span><strong>Latitude: </strong><%= @result %></span><br>
<span><strong>Longitude: </strong><%= @result2 %></span><br>
<span><strong>Radius: </strong><%= @radius_current_user %></span><br>
<span><strong>Postcodes: </strong><%= @radius_result %></span><br>
