<div id="menu_bar">
  <ul>
    <li><a href="/"><h1>Search Page</h1></a></li>
    <li><a href="user_about"><h3>About</h3></a></li>
    <li><a href="/user_login"><h3>Login</h3></a></li>
    <li><a href="/user_new"><h3>Register</h3></a></li>
  </ul>
</div>
<div id="colorstrip2"/><h3></h3>

<div id="show">
  <span><strong>Suburb: </strong><%= current_user.profile.suburb %></span><br>
  <span><strong>Latitude: </strong><%= @result %></span><br>
  <span><strong>Longitude: </strong><%= @result2 %></span><br>
  <span><strong>Radius: </strong><%= @radius_current_user %></span><br>
  <span><strong>Postcodes: </strong><%= @result3 %></span><br>
  <span><strong>Users in the area: </strong><%= @result4.first %></span><br>
</div>
