<p id="notice"><%= notice %></p>
<ul>

  <li>
    <strong>First name:</strong>
      <%= current_user.first_name %>
  </li>

  <li>
    <strong>Last name:</strong>
    <%= current_user.last_name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= current_user.email %>
  </li>

  <li>
    <strong>Username:</strong>
    <%= current_user.profile.username %>
  </li>

  <li>
    <strong>Address:</strong>
    <%= current_user.profile.address %>
  </li>

  <li>
    <strong>Suburb:</strong>
    <%= current_user.profile.suburb %>
  </li>

  <li>
    <strong>Postcode:</strong>
    <%= current_user.profile.postcode %>
  </li>

  <li>
    <strong>Search radius:</strong>
    <%= current_user.profile.search_radius %>
  </li>

  <li>
    <strong>Sex:</strong>
    <%= current_user.profile.sex %>
  </li>

  <li>
    <strong>Age:</strong>
    <%= current_user.profile.age %>
  </li>

  <li>
    <strong>Interests:</strong>
    <%= current_user.profile.interests %>
  </li>
</ul>

<%= link_to 'Edit', edit_profile_path(current_user) %>
<!-- < link_to 'Back', profile_path > -->
