<p id="notice"><%= notice %></p>
<ul>

  <li>
    <strong>First name:</strong>
    <%= current_user.profile.first_name %>
  </li>

  <li>
    <strong>Last name:</strong>
    <%= @user.last_name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

  <li>
    <strong>Username:</strong>
    <%= @profile.username %>
  </li>

  <li>
    <strong>Address:</strong>
    <%= @profile.address %>
  </li>

  <li>
    <strong>Postcode:</strong>
    <%= @profile.postcode %>
  </li>

  <li>
    <strong>Search radius:</strong>
    <%= @profile.search_radius %>
  </li>

  <li>
    <strong>Sex:</strong>
    <%= @profile.sex %>
  </li>

  <li>
    <strong>Interests:</strong>
    <%= @profile.interests %>
  </li>
</ul>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
