<p id="notice"><%= notice %></p>

<h1>List of my Contact Requests</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contact_requests.each do |contact_request| %>
      <tr>
        <td><%= link_to 'Show', contact_request %></td>
        <td><%= link_to 'Edit', edit_contact_request_path(contact_request) %></td>
        <td><%= link_to 'Destroy', contact_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact request', new_contact_request_path %>
