<h1>New User Registration</h1>

<% if flash[:errors] %>
  <p><%=flash[:errors]['errors'].join(', ') %></p>
<% end %>
<div id="reg">
<%= form_for :user, url: '/user_new' do |f| %>
  <span>Email: <%= f.text_field :email %></span><br>
  <span>First name: <%= f.text_field :first_name %></span><br>
  <span>Last name: <%= f.text_field :last_name %></span><br>
  <span>Password: <%= f.text_field :password %></span><br>
  <span>Password Confirmation: <%= f.password_field :password_confirmation %></span><br>
  <span><%= f.submit("Register") %></span><br>
<% end %>
</div>
