<p id="notice"><%= notice %></p>

<h1>List of my messages</h1>

<table>
  <thead>
    <tr>
      <!-- <th>User from</th>
      <th>User to</th> -->
      <th>Messages</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.user_from %></td>
        <td><%= post.user_to %></td>
        <td><%= post.message %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
