<p id="notice"><%= notice %></p>

<p>
  <strong>User from:</strong>
  <%= @post.user_from %>
</p>

<p>
  <strong>User to:</strong>
  <%= @post.user_to %>
</p>

<p>
  <strong>Message:</strong>
  <%= @post.message %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
